*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.view1{
  height: 100vh;
  background-color: red;
}

.view2{
  height: 100vh;
  background-color: aqua;
}

.batle1{
  display: flex;
  width: 100%;
}

.soldierb1 img{
  height: 100px;
  width: 50px;

}

.box1{
  width: 100px;
  height: 100px;
  background-color: beige;
}

.batle2{
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.soldierb2 img{
  height: 100px;
  width: 50px;

}

.box2{
 
  width: 100px;
  height: 100px;
  background-color: teal;
}

.batle3{
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.soldierb3 img{
  height: 100px;
  width: 50px;

}
.box3{

  width: 100px;
  height: 100px;
  background-color: firebrick;
}